html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
:: before,
:: after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin-bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/static/pexels-jess-bailey-designs-965119.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-end;

        .navbar-nav {
          flex-direction: row;

          .nav-link {
            padding-right: var(--#{$prefix}navbar-nav-link-padding-x);
            padding-left: var(--#{$prefix}navbar-nav-link-padding-x);
          }
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;

        }
      }
    }
  }
}

nav .logo {
  border-radius: 50px;
}

nav ul {
  flex: 1;
  text-align: right;
  margin-right: 50px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

nav ul li {
  margin: 15px 15px;
}

nav ul li a:hover::before {
  height: 85px;
}


.index__row {
  display: flex;
  flex-wrap: wrap;
}

.index__column {
  flex-basis: 50%;
  position: flex;
}

.musaka-column {
  width: 550px;
  height: 500px;
}

.image-musaka {
  border-radius: 75px;
  border: 10px solid #e8f48c;
}

.makaroniki-column {
  width: 450px;
  height: 250px;
  position: relative;
  left: -315px;
  top: -130px;
  z-index: 2;
}

.image-makaroniki {
  border-radius: 50px;
  border: 10px solid #ba55d3;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}

.index__column h1 {
  margin-top: 120px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #000;
  padding-bottom: 1rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  font-size: 14px;
}

.table thead th {
  font-weight: 700;
  border-bottom: 2px solid #d6cadd;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f8f4ff;
}

.table tbody td {
  vertical-align: middle;
  border-top: 1px solid #d6cadd;
}

.table tbody td:first-child {
  font-weight: 500;
}

.text {
  color: #3f87a6;
  font-weight: bold;
}

.material-symbols-outlined {
  font-family: "Material Icons Outlined";
  font-size: 20px;
  color: #3f87a6;
  margin-right: 5px;
}

td a {
  background-color: #e8f48c;
  color: #353839;
  padding: 5px 10px;
  border-radius: 5px;
}

td a:hover {
  background-color: #dcd0ff;
}

p a {
  background-color: #e8f48c;
  color: #353839;
  padding: 5px 10px;
  border-radius: 5px;
}

p a:hover {
  background-color: #dcd0ff;
}

.btn.btn-lg {
  background-color: #e8f48c;
  color: #353839;
  border-radius: 5px;
}

.btn.btn-sm {
  background-color: #e8f48c;
  color: #353839;
  border-radius: 5px;
}

.btn-sm:hover {
  background-color: #dcd0ff !important;
}

.btn-lg:hover {
  background-color: #dcd0ff !important;
}

.btn-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  margin-bottom: 50px;
}

.btn-col button {
  margin-left: 10px;
}

.list-group li:nth-of-type(odd) {
  background-color: #f8f4ff;
}

.card display-recipe {
  box-shadow: 2px 2px 4px blue;
}

.no-border {
  border: none;
}

.input-group-append {
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.service {
  transition: all 0.3s;
  cursor: pointer;
}

.service:hover {
  transform: scale(1.07);
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 160px;

}

.card-title {
  text-align: center;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px #eee;
  margin-top: 10px;
}

.card-text {
  text-align: center;
}

.multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

form-control {
  resize: vertical;
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}

.circle.checked {
  background-color: green;
}

tr.checked {
  background-color: lightgray;
}

#date-range {
  display: none;
}



