{% extends "layout.html" %}

{% block title %}
Choose {{ mealName }} - Meal Planner
{% endblock %}

{% block main %}
{% if error %}
<p class="error">Error: {{ error }}</p>
{% endif %}
<section class="py-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card-body p-9">
          <h2 class="text-uppercase text-center mb-5"> What would you like to eat?</h2>
          <!-- <p>Selected Date: {{ request.args.get('selected_date') }}</p> -->
          <p class="text-uppercase text-center mb-5"><span class="material-symbols-outlined">
              add</span><a href="/recipes" class="fs-4"><u>Add a new recipe</u></a></p>
          <div class="container py-5 text-center">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-start">Meal Name</th>
                  <th class="text-end">Meal Type</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                  <td class="text-start text-uppercase">{{ item['mealName'] }}</td>
                  <td class="text-end">{{ item['mealType'] }}</td>
                  <td>
                    <form method="post" action="{{ url_for('chooseMeal') }}">
                      <input type="hidden" id="selected_date" name="selected_date"
                        value="{{ request.args.get('selected_date') }}">
                      <input type="hidden" name="mealName" value="{{ item['mealName'] }}">
                      <input type="hidden" name="userPlan" value="{{ request.args.get('userPlan') }}">
                      <button type="submit" class="btn btn-sm btn-primary">Add to schedule</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>

{% endblock %}
