{% extends "layout.html" %}

{% block title %}
Edit Recipe
{% endblock %}

{% block main %}
{% if error %}
<p class=error>Error:{{ error }}</p>
{% endif %}
<section class="py-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-uppercase text-center mb-5">Edit Recipe</h2>
      <div>
        <form method="POST" action="/editRecipe/{{ recipe['id'] }}">
          <div class="form-outline mb-4 form-control-lg">
            <label for="mealName" class="form-label">Meal Name</label>
            <input type="text" class="form-control" name="mealName" value="{{ recipe['mealName'] }}" required>
          </div>
          <div class="form-outline mb-4 form-control-lg">
            <label for="mealType" class="form-label">Meal Type</label>
            <select class="form-select" aria-label="Default select example" name="mealType"
              value="{{ recipe['mealType'] }}" required>
              <option selected>{{ recipe['mealType'] }}</option>
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
              <option value="Dessert">Dessert</option>
            </select>
          </div>
          <div class="form-outline mb-4 form-control-lg">
            <label for="ingredients" class="form-label">Ingredients</label>
            <textarea class="form-control" name="ingredients" rows="6">{{ recipe['ingredients'] }}</textarea>
          </div>
          <div class="form-outline mb-4 form-control-lg">
            <label for="instructions" class="form-label">Instructions</label>
            <textarea class="form-control" name="instructions" rows="6">{{ recipe['instructions'] }}</textarea>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}
