{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block main %}
{% if error %}
<p class=error>Error:{{ error }}</p>
{% endif %}

<div class="container index__conteiner">
  <div class="row index__row">
    <div class="col-md-6 col-sm-12 index__column">
      <h1>The first step to success is a good plan.</h1>
    </div>
    <div class="col-md-6 col-sm-12 index__image__column">
      <div class="row index__image__row">
        <div class="col-md-11 mb-3 col-sm-8 musaka-column">
          <img src="/static/musaka.jpg" class="w-100 h-100 image-musaka">
        </div>
        <div class="col-md-9 col-sm-4 makaroniki-column">
          <img src="/static/makaroniki.jpg" class="w-100 h-100 image-makaroniki">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
