{% extends "layout.html" %}

{% block title %}
ListOfRecipes
{% endblock %}

{% block main %}

{% if error %}
<p class=error>Error:{{ error }}</p>
{% endif %}
<section class="py-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <h2 class="h2 text-center mb-5">Your List of Recipes</h2>
        <p class="text-center"><span class="material-symbols-outlined">
            add</span><a href="/recipes" class="fs-5"><u>Add a new recipe</u></a></p>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-start">Meal Name</th>
                <th class="text-start">Meal Type</th>
                <th class="text-start">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr>
                <td class="text-start text-uppercase" name="mealName" value="{{ item['mealName'] }}">{{ item['mealName']
                  }}</td>
                <td class="text-start" value="{{ item['mealType'] }}">{{ item['mealType'] }}</td>
                <td>
                  <a href="{{ url_for('displayRecipe', recipe_id=item['id']) }}">View</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>

{% endblock %}
