{% extends "layout.html" %}

{% block title %}
Recipes
{% endblock %}

{% block main %}

{% if error %}
<p class=error>Error:{{ error }}</p>
{% endif %}
<section class="py-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <h2 class="h2 text-center mb-5">Add a new recipe</h2>
        <form action="/recipes" method="post">
          <div class="form-outline mb-4">
            <input type="text" id="form3Example1cg" class="form-control form-control-lg text-uppercase"
              name="mealName" />
            <label class="form-label" for="form3Example1cg">Meal Name</label>
          </div>
          <div class="form-outline mb-4">
            <select class="form-select" aria-label="Default select example" name="mealType">
              <option selected>Choose a meal type</option>
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
              <option value="Dessert">Dessert</option>
            </select>
          </div>
          <div class="form-outline mb-4">
            <div class="form-outline mb-4">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="ingredients"></textarea>
              <label class="form-label" for="exampleFormControlTextarea1">Ingredients</label>
              <small id="ingredientsHelp" class="form-text text-muted">Enter each ingredient on a new line.</small>
            </div>
            <div class="form-outline mb-4">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="instructions"></textarea>
              <label class="form-label" for="exampleFormControlTextarea1">Instructions</label>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-lg btn-primary" type="submit">Add</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <script>
    const ingredientsTextarea = document.querySelector('#exampleFormControlTextarea1');
    const ingredientsHelpText = document.querySelector('#ingredientsHelp');

    ingredientsTextarea.addEventListener('mouseover', () => {
      ingredientsHelpText.style.display = 'block';
    });

    ingredientsTextarea.addEventListener('mouseout', () => {
      ingredientsHelpText.style.display = 'none';
    });
  </script>
</section>

{% endblock %}
