{% extends "layout.html" %}

{% block title %}
shopping List
{% endblock %}

{% block main %}

{% if error %}
<p class=error>Error:{{ error }}</p>
{% endif %}

<section class="py-5">
  <div class="row">
    <div class="col-md-4" style="margin-left: 35px; margin-bottom: 30px;">
      <form method="POST">
        <div class="form-group">
          <label for="date-range" class="form-label" style="font-weight: bold;">Select date range</label>
          <div class="input-group">
            <input id="date-range" class="form-control" type="hidden" name="date_range">
            <span class="input-group-text" id="basic-addon1">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="currentColor"
                class="bi bi-calendar-heart-fill" viewBox="0 0 16 16">
                <path
                  d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
              </svg>
            </span>
            <button type="submit" class="btn btn-sm btn-primary">Generate a shopping list</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card-body p-9">
          <h2 class="text-uppercase text-center mb-5">
            {% if request.method == 'POST' %}
            Your Shopping List from {{ date_range }}
            {% else %}
            Your Shopping List for Today
            {% endif %}
          </h2>
          <div class="container py - 5 text-start">
            <table class="table">
              <tbody>
                {% for ingredient in ingredients|sort %}
                <tr id="ingredient{{ loop.index }}">
                  <td>
                    <span class="circle" onclick="checkIngredient({{ loop.index }})"></span>
                  </td>
                  <td>{{ ingredient }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <script>
    flatpickr(".input-group-text", {
      mode: "range",
      minDate: "today",
      dateFormat: "l d F Y",
      onChange: function (selectedDates, dateStr, instance) {
        document.getElementById('date-range').value = dateStr;
      }
    });

    function checkIngredient(index) {
      var circle = document.getElementById("ingredient" + index).querySelector(".circle");
      circle.classList.toggle("checked");
      var row = circle.parentNode.parentNode;
      row.classList.toggle("checked");
      var tbody = row.parentNode;
      tbody.appendChild(row);
    }

  </script>
</section> 

{% endblock %}
